.super-mario {
    width: 200px;
    position: absolute;
    z-index: 2;
    left: 70px;
}
.goomba {
    width: 200px;
    position: absolute;
    top: 350px;
    z-index: 1;
}
.bowser {
    width: 300px;
    right: 200px;
    position: absolute;
    top: 250px;
}
.baloon {
    width: 200px;
    position: absolute;
    right: 500px;
    bottom: 300px;
    z-index: 1;
}
.word {
    width: 200px;
    position: absolute;
    right: 480px;
    bottom: 350px;
    z-index: 2;
}