h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
}
.listastyle {
    background-color: paleturquoise;
}
p {
    font-weight: 600;
    font-size: 3em;
    font-style: italic;
    line-height: 1cm;
    text-align: left;
}
body {
    font-size: 16px;
}
#amarelo {
    background-color: yellow;
    font-weight: 700;
    font-style: oblique;
    text-decoration: underline;
    text-align: center;
}
#vermelho {
    background-color: red;
    color: whitesmoke;
    font-weight: 500;
    font-style: oblique;
    text-decoration: underline;
    text-align: center;
}
#marrom {
    background-color:brown;
    color: white;
    font-weight: 500;
    font-style: oblique;
    text-decoration: underline;
    text-align: center;
}